

{% extends "layout/recmmdLayout.html" %}
{%block title%} Global Top Tracks {% endblock %}
{% block content %}

<!-- Splitting.js 라이브러리 포함 -->
<script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css">

<div id="timeline">
  <div class="row">
    {% for info in recommend_info[:10] %}
    <div class="album" data-track-name="{{ info.track_name }}" data-artist-name="{{ info.artist_name }}">
      <audio id="audio" preload="" data-preview-url="{{ info.preview_url }}"></audio>
      <div class="sleeve" data-image-url="{{ info.album_image_url }}" style="background-image: url('{{ info.album_image_url[0] }}');"></div>
      <div class="text"><span data-splitting>{{ info.track_name }} • {{ info.artist_name }}</span></div>
    </div>
    {% endfor %}
  </div>
</div>
<div id="wrap">
  <div id="inner"></div>
</div>

{% endblock %}
