<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Songs</title>
</head>
<body>
    <h1>Recommended Songs</h1>

    {% if recommend_info %}
        <div>
            {% for info in recommend_info %}
                <div>
                    <h2>{{ info.track_name }}</h2>
                    <p>By: {{ info.artist_name|join(', ') }}</p>
                    {% if info.album_image_url %}
                        <img src="{{ info.album_image_url[0] }}" alt="Album Image">
                    {% endif %}
                    <p>Release Date: {{ info.release_date }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No recommendations available.</p>
    {% endif %}
    <form style="padding-left: 20px;" action="/home" method="get" enctype="multipart/form-data">
        <input type="submit" name="Back" value="Back"/>
    </form>
</body>
</html>
