<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <title> See Spotify Data</title>
</head>
<body>
    <div div style="padding-left: 20px;">

        <h1> List of Services:</h1>

        <li><a href='/playlists'> See your playlists </a> </li>
        <li><a href='/songs'> See your most listened to songs </a> </li>
        <li><a href='/artists'> See your most listened to artists </a> </li>
        <li><a href='/recommendations'> See recommended songs </a></li>
    </div>
</body>