<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <title>Your Playlists</title>
</head>
<body>
    <div style="padding-left: 20px;">
        <h1>Your Playlists</h1>
        {% for playlist in playlists %}
            <div>
                <p>{{ playlist['name'] }}</p>
                {% for image in playlist['images'] %}
                    <img src="{{ image }}" alt="Playlist Image" style="max-width: 200px; max-height: 200px;">
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <form style="padding-left: 20px;" action="/home" method="get" enctype="multipart/form-data">
        <input type="submit" name="Back" value="Back"/>
    </form>
</body>
</html>
