{% extends "layout/layout.html" %}

{% block title %} SOTS {% endblock %}

{% block content %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Review</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active text-white">Review</li>
    </ol>
</div>
<!-- Single Page Header End -->

<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">How was SOTS?</h1>
                        <p class="mb-4">Please give us short review after using out platform! &emsp;<a href="/home">Go back</a></p>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div style="padding: 20px"></div>
                    <form action="/review" class="" method="POST" enctype="multipart/form-data">
                        <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="이름" name="writer_name" required>
                        <textarea class="w-100 form-control border-0 mb-4" rows="5" cols="10" placeholder="Your Message" name="content" maxlength="30" required></textarea>
                        <div style="padding: 30px"></div>
                        <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Post</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
