{% extends "layout/admin_layout.html" %}

{% block title %} SOTS {% endblock %}

{% block content %}

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">ReviewList for admin</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active text-white">ReviewList</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- review list Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Content</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    {% for i in reviews %}
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-3 mt-4">{{i['writer_name']}}</p>
                            </td>
                            <td>
                                <a href="{{ url_for('review_edit', id=i._id) }}"><p class="mb-3 mt-4">{{i['content'][:30]}}</p></a>
                                
                            </td>
                            <td>
                                <form action="/reviewList" method="POST">
                                    <input type="hidden" value={{i['_id']}} name="id">
                                    <button class="btn btn-md rounded-circle bg-light border mb-3 mt-3" type="submit">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </form>
                            </td>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            
            
        </div>
    </div>
    <!-- review list End -->
{% endblock %}
