<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Songs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
</head>
<body>
    <div style="padding-left: 20px;">
        <h1>Your Most Listened To Songs</h1>
        <ul>
            {% for track in tracks_info %}
                <li>
                    <strong>{{ track['track_name'] }}</strong> by {{ track['artist_name'] }}
                    {% if track['album_images'] %}
                        <br>
                        <img src="{{ track['album_images'][0] }}" alt="Album Cover" >
                    {% endif %}
                    {% if track['preview_url'] %}
                        <br>
                        <audio controls>
                            <source src="{{ track['preview_url'] }}" type="audio/mp3">
                        </audio>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <form style="padding-left: 20px;" action="/home" method="get">
        <input type="submit" value="Back">
    </form>
</body>
</html>
