{% extends "layout/recmmdLayout.html" %}

{% block content %}

<!-- Include Splitting.js library -->
<script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css">

<div id='timeline'>
  <div class='row'>
    {% for info in recommend_info %}
    <div class='album' data-preview-url="{{ info.preview_url }}">
      <div class='sleeve' style="background-image: url('{{ info.album_image_url }}');"></div>
      <div class='text'>
        <span data-splitting>{{ info.artist_name }} • {{ info.track_name }} • </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div id='wrap'>
  <div id='inner'></div>
</div>
<audio id='audio' preload=''></audio>

{% endblock %}
