{% extends "layout/recmmdLayout.html" %}

{% block content %}

<!-- partial:index.partial.html -->
<div id='timeline'>
  <div class='row'>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
    <div class='album'>
      <div class='sleeve'></div>
      <div class='text'></div>
    </div>
  </div>
</div>
<div id='wrap'>
  <div id='inner'></div>
</div>
<audio id='audio' preload='' src=''></audio>

{% endblock %}